@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: black;
	color: white;
}

.squareCurrentNumber {
	font-size: 300px;
	margin: 0;
	padding: 0;
}

.squareCurrentNumber2 {
	font-size: 100px;
	margin: 0;
	padding-bottom: 10%;
	padding-top: 10%;
}

/* .bodysquare{
     vertical-align: middle;
    margin: auto;
     width: 50%; 
	animation-name: backgroundColorPalette;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;  
} */

/* @keyframes backgroundColorPalette {
	0% {
		background: #d1b1c8;
	}
	25% {
		background: #b1b7d1;
	}
	50% {
		background: #9b9fb5;
	}
	75% {
		background: #8c7284;
	}
	100% {
		background: #7a6174;
	}
} */

.spacer {
	padding: 10px;
}

.bodysquare {
	margin: 0;
	padding: 0;
	line-height: normal;
}

.line {
	height: 3px;
	background: black;
    margin: auto;
    width: 50%; 
}

.signature{
	font-family: "RobotoMono-VariableFont_wght";
	src: url("./assets/fonts/RobotoMono-VariableFont_wght");
	text-align: left;
}

.verifyFormBackgroundColor{
	background-color: #7b7878;
	color: white;
}