@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #d1b1c8;
}

.squareCurrentNumber{
    font-size: 300px;
    margin: 0;
    padding: 0;
}

/* .bodysquare{
     vertical-align: middle;
    margin: auto;
     width: 50%; 
	animation-name: backgroundColorPalette;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;  
} */

/* @keyframes backgroundColorPalette {
	0% {
		background: #d1b1c8;
	}
	25% {
		background: #b1b7d1;
	}
	50% {
		background: #9b9fb5;
	}
	75% {
		background: #8c7284;
	}
	100% {
		background: #7a6174;
	}
} */

.spacer{
    padding: 20px;
}